form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 30%;
}

input{
  height: 2rem;
  margin-top: 1rem;
}
.formulario{
  display: flex;
  justify-content: center;
}
button{

  width: 90px;
  height: 50px;
  background-color: rgb(207, 96, 115);
  margin-top: 3rem;
  margin-right: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  transition: all 0.3s;
}

button:hover{
  background-color:rgb(233, 204, 76) ;
}
